@font-face {
  font-family: 'LeagueGothicRegular';
  src: url('https://us.pycon.org/2012/site_media/static/fonts/league_gothic-webfont.eot');
  src: url('https://us.pycon.org/2012/site_media/static/fonts/league_gothic-webfont.eot?#iefix') format('embedded-opentype'),
       url('https://us.pycon.org/2012/site_media/static/fonts/league_gothic-webfont.woff') format('woff'),
       url('https://us.pycon.org/2012/site_media/static/fonts/league_gothic-webfont.ttf') format('truetype'),
       url('https://us.pycon.org/2012/site_media/static/fonts/league_gothic-webfont.svg#LeagueGothicRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  background: #f9f9f9;
  color:#222;
  font: normal 93% "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-top: 83px;
}

a, a:visited {
  color: #409cc1;
  text-decoration: none;
}

a:hover {
  color: #006e91;
}

h1, h2, h3, h4, h5, h6 {
  color: #333333;
  font-weight: normal;
  margin-bottom: 10px;
}

h1 {
  font-size: 167%;
  line-height: 1.4em;
}

h2 {
  font-size: 153.9%;
}

h3 {
  font-size: 131%;
}

h4 {
  font-size: 123.1%;
}

h5 {
  font-size: 116%;
}

h6 {
  font-size: 108%;
}

.container, .container-fluid {
  position: relative;
}

header {
  z-index: 100;
  position: fixed;
  height: 68px;
  left: 0;
  right: 0;
  top: 0;
  background: #eae7df;
}

header #subhead {
  position: absolute;
  left: 235px;
  top: 20px;
  white-space: nowrap;
  overflow: hidden;
}
header #subhead h2 {
  font-family: LeagueGothicRegular, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #484746;
  text-transform:uppercase;
  text-shadow: 0 1px 0 #f9f2e6;
}

header .container,
header .container-fluid {
  background: #eae7df;
  border: 5px solid #006e91;
  border-width: 8px 0;
  height: 68px;
}

header h1#logo {
  margin: 0;
  position: absolute;
  top: 24px;
  left: 20px;
}
header h1#logo a {
  display: block;
  width: 195px;
  height: 24px;
  background: url('../img/header.png') no-repeat 0 0;
  float: left;
  padding-bottom: 12px;
  color:#fff;
  text-decoration:none;
  font-size:123.1%;
  text-indent:-9999px;
}
header .nav {
  background: #eae7df;
  position: absolute;
  right: 20px;
  padding-left: 10px;
  color: #7caec3;
  font-size: 77%;
  margin: 18px 0 0 0;
  text-shadow: 0 1px 0 #f9f2e6;
  line-height: 1.4em;
}
header .nav a, header .nav a:visited {
  color: #649fae;
  text-decoration: none;
  font-weight: bold;
  text-transform:uppercase;
}
header .nav a:hover {
  color: #006e91;
  text-decoration: none;
}


.sidebar {
  position: fixed;
  right: 0;
  bottom: 0;
  top: 84px;
  overflow: hidden;
  background: #eae7df;
  padding-right: 17px;
  border-left: 1px solid #d5cebc;
}
.sidebar-inner {
  padding: 0 20px;
}

.page-header {
  padding-bottom: 0;
  border-bottom: 0;
}
.page-header h1, .page-header h2,
.page-header h3, .page-header h4 {
  font-family: LeagueGothicRegular, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#484746;
  text-transform:uppercase;
  text-shadow: 0 1px 0 #f9f2e6;
  line-height:50px;
}

.pageheader h1 {
    font-size:340%;
}
.page-header h2 {
  font-size:240%;
}
.page-header h3 {
  font-size:200%;
}
.page-header h4 {
  font-size:160%;
}


.page-header h1 span, .page-header h2 span {
  color:#fcb500;
}
.thread-list {
  margin-left: 0;
  list-style: none;
}
.thread {
  margin-bottom: 10px;
}
.thread .thread-title h3 {
  overflow: hidden;
  margin-bottom: 5px;
  height: 25px;
  line-height: 25px;
}
.thread .thread-count {
  display: block;
  float: left;
  width: 25px;
  height: 25px;
  background: #409cc1;
  color: #fff;
  line-height: 25px;
  font-size: 12px;
  text-align: center;
  margin-right: 10px;
}
.thread .thread-message {
  display: none;
}

.sidebar .page-header {
  margin: 0;
}
.sidebar .page-header h4 {
  margin-bottom: 0;
}
.sidebar .thread-title h3 {
  height: 20px;
  line-height: 20px;
  font-size: 93%;
}
.sidebar .thread-count {
  height: 20px;
  width: 20px;
  margin-right: 5px;
  line-height: 20px;
}

.conversation-stream {
  padding-top: 20px;
  padding-bottom: 60px;
}

.conversation-stream .post-list {
  margin-bottom: 0;
}
.post-list {
  list-style: none;
  margin-left: 0;
}
.post {
  position: relative;
  padding-left: 42px;
  font-size: 12px;
}
.post .post-avatar {
  position: absolute;
  left: 0;
  top: 0;
  width: 32px;
  height: 32px;
  margin-right: 10px;
}
.post .post-meta {
  display: inline;
  color: #999;
  font-size: 12px;
}
.post .post-author {
  font-weight: bold;
  color: #409cc1;
}
.new-reply {
  position: fixed;
  left: 0;
  bottom: 0;
  border-top: 1px solid #d5cebc;
  background: #eae7df;
  padding-top: 10px;
  padding-right: 10px;
  overflow: hidden;
}
.new-reply form {
  padding: 0 140px 0 20px;
  position: relative;
  margin-bottom: 0;
}
.new-reply textarea {
  width: 100%;
  height: 28px;
  resize: none;
}
.new-reply .btn {
  position: absolute;
  top: 0;
  right: 10px;
}

.pycon-session {
  background: #EFEFEF;
  padding: 10px 15px;
  border: 1px solid #C4C4C4;
  border-radius: 10px;
  margin-top: 20px;
}

.btn-primary {
  text-shadow: 0 1px 1px rgba(0, 0, 0, .75);
  border: 1px solid #4c8da2;
  background-color: #63bad4;
  background-image: -moz-linear-gradient(top, #63bad4, #4294b0);
  background-image: -ms-linear-gradient(top, #63bad4, #4294b0);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#63bad4), to(#4294b0));
  background-image: -webkit-linear-gradient(top, #63bad4, #4294b0);
  background-image: -o-linear-gradient(top, #63bad4, #4294b0);
  background-image: linear-gradient(top, #63bad4, #4294b0);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#63bad4', endColorstr='#4294b0', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  cursor: pointer;
}
.btn-primary:hover {
  text-shadow: 0 1px 1px rgba(0, 0, 0, .75);
  background-color: #4c8da2;
  background-image: -moz-linear-gradient(top, #45a0bf, #4c8da2);
  background-image: -ms-linear-gradient(top, #45a0bf, #4c8da2);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#45a0bf), to(#4c8da2));
  background-image: -webkit-linear-gradient(top, #45a0bf, #4c8da2);
  background-image: -o-linear-gradient(top, #45a0bf, #4c8da2);
  background-image: linear-gradient(top, #45a0bf, #4c8da2);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#45a0bf', endColorstr='#4c8da2', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-position: 0 0;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
