{% extends "layout.html" %}

{% block content %}
  <section>
    <div class="page-header">
      <h1>Liked Ideas</h1>
    </div>
    <div class="row">
      <div class="span16">
        {% if thread_list %}
          <ul class="unstyled thread-list">
            {% for thread in thread_list %}
              {% include "includes/thread.html" %}
            {% endfor %}
          </ul>
        {% else %}
          <div class="alert-message block-message info">
            <p>There aren't any threads to show here.</p>
          </div>
        {% endif %}
        </div>
    </div>
  </section>
{% endblock %}