{% extends "layout.html" %}

{% block subheader %}
  <h2>{{ thread.title }}</h2>
{% endblock %}

{% block head %}
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.autoresize.js') }}"></script>
{% endblock %}
{% block foot %}
<script type="text/javascript" src="{{ url_for('static', filename='js/thread_details.js') }}"></script>
{% endblock %}

{% block sidebar %}
  <div class="page-header">
    <h4>Sessions</h4>
  </div>
  <ul class="thread-list">
    {% for thread in active_talk_list %}
      {% include "includes/thread.html" %}
    {% endfor %}
  </ul>
  <div class="page-header">
    <h4>Active</h4>
  </div>
  <ul class="thread-list">
    {% for thread in active_thread_list %}
      {% include "includes/thread.html" %}
    {% endfor %}
  </ul>
  <div class="page-header">
    <h4>You</h4>
  </div>
{% endblock %}

{% block content %}
  {% if pycon_session %}
    <div class="pycon-session">
      <h3>By <strong>{{ pycon_session.authors }}</strong></h3>
      <h4>
        From <strong>{{ pycon_session.start_iso }}</strong> &mdash; <strong>{{ pycon_session.end_iso }}</strong>
        in <strong>{{ pycon_session.room }}</strong>
      </h4>

      <p>{{ pycon_session.description }}</p>
      <p><a href="{{ pycon_session.url }}">More info on pycon.org</a></p>
    </div>
  {% endif %}

  <script id="post-template" type="text/template">
    <img src="<%= avatar %>" class="post-avatar">
    <div class="post-meta">
      <span class="post-author">
        <%= name %>
      </span>
      &middot;
      <span class="post-datetime pretty-date" title="<%= createdAt %>Z">
        <%= createdAt %>
      </span>
    </div>
    <div class="post-message">
      <p><%= message %></p>
    </div>
  </script>

  <div class="conversation-stream">
  {% if post_list %}
    <ul class="post-list">
    </ul>
  {% else %}
    <p>It seems no one is participating in this conversation yet.</p>
  {% endif %}
</div>

<div class="row-fluid">
  <div class="new-reply span9">
    {% if not user %}
      <p>You are not signed in. You can <strong><a href="{{ url_for('oauth_authorize') }}">sign in with Disqus</a></strong>. Need to create an
        account first? <strong><a href="http://disqus.com/profile/signup/">Register a new account</a></strong> on
        disqus.com.</p>
    {% else %}
      <form method="POST" class="form-stack" action="{{ url_for('new_post', thread_id=thread.id) }}">
        {{ form.csrf }}
        <fieldset>
          {{ form.message(rows=2) }} <button type="submit" class="btn btn-large btn-primary">Send Reply</button>
        </fieldset>
      </form>
    {% endif %}
  </div>
</div>
{% endblock %}
