{% extends "layout.html" %}

{% block nav_new_thread_active %} class="active"{% endblock %}

{% block content %}
  <div class="row">
    <div class="span16">
      <h2>Start a New Thread</h2>
      <form method="POST" class="form-stack" action="{{ url_for('new_thread') }}">
        {{ form.csrf }}
        <fieldset>
          <div class="clearfix{% if form.subject.errors %} error{% endif %}">
            {{ form.subject.label }}
            <div class="input">
              {{ form.subject(class="xxlarge", size="50") }}
            </div>
          </div>
          <div class="clearfix{% if form.subject.errors %} error{% endif %}">
            {{ form.description.label }}
            <div class="input">
              {{ form.description(class="xxlarge", rows="6") }}
            </div>
          </div>
          <div class="actions">
            <input type="submit" class="btn primary" value="Save changes">&nbsp;<button type="reset" class="btn">Cancel</button>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
{% endblock %}