{% extends "layout.html" %}

{% block nav_home_active %} class="active"{% endblock %}

{% block content %}
  <div class="row-fluid">
    {% if thread_list %}
    <div classn="span6">
      {% if active_thread_list %}
        <div class="page-header">
          <h2>Active Conversations</h2>
        </div>
        <ul class="thread-list">
          {% for thread in active_thread_list %}
            {% include "includes/thread.html" %}
          {% endfor %}
        </ul>
        <div class="page-header">
          <h2>Other Converations</h2>
        </div>
      {% else %}
        <div class="page-header">
          <h2>Converations</h2>
        </div>
      {% endif %}
      <ul class="thread-list">
        {% for thread in thread_list %}
          {% include "includes/thread.html" %}
        {% endfor %}
      </ul>
    </div>
    {% else %}
      <p>There are no conversations happening yet. Be the first to <a href="{{ url_for('new_thread') }}">start a conversation</a>.</p>
    {% endif %}

    <div class="page-header">
      <h2>Categories</h2>
    </div>

    <ul>
      {% for category in category_list %}
        <li>{{ category.title }}</li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}