{% extends "layout.html" %}

{% block nav_home_active %} class="active"{% endblock %}

{% block content %}
  {% if thread_list %}
    <div class="row">
      <div class="span16">
        <ul class="unstyled thread-list">
          {% for thread in thread_list %}
            {% include "includes/thread.html" %}
          {% endfor %}
        </ul>
      </div>
    </div>
  {% else %}
    <p>There are no conversations happening yet. Be the first to <a href="{{ url_for('new_thread') }}">start a conversation</a>.</p>
  {% endif %}
{% endblock %}