<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{{ SITE_NAME }}{% endblock %}</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/underscore-min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/backbone-min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/global.js') }}"></script>
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script type="text/javascript" src="{{ url_for('static', filename='js/html5.js') }}"></script>
    <![endif]-->

    <!-- Le styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
    {% block head %}{% endblock %}
  </head>

  <body>

    <header>
      <div class="container-fluid">
        <h1 id="logo"><a href="/">{% block brand %}{{ SITE_NAME }}{% endblock %}</a></h1>
        <div id="subhead">{% block subheader %}{% endblock %}</div>
        <div class="nav">
          {% if user %}
            {{ user.username }} |
            <a href="{{ url_for('new_thread') }}">New Conversation</a> |
            <a href="{{ url_for('logout') }}">Logout</a>
          {% else %}
            <a href="{{ url_for('oauth_authorize') }}">Sign In</a> or
            <a href="http://disqus.com/profile/signup/">Register</a> with DISQUS
          {% endif %}
        </div>
{#       <div class="navbar">
        <div class="navbar-inner">
          <div class="container">

            <ul class="nav">
              <li{% block nav_home_active %}{% endblock %}><a href="/">Home</a></li>
              <li{% block nav_new_thread_active %}{% endblock %}><a href="{{ url_for('new_thread') }}">Start a Conversation</a></li>
            </ul>
            <ul class="pull-right nav">
              {% if user %}
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ user.username }} <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li{% block nav_my_threads_active %}{% endblock %}><a href="{{ url_for('my_threads') }}">My Threads</a></li>
                  </ul>
                </li>
              {% else %}
                <li><a href="#">Sign In</a></li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div> #}
    </header>

    <section id="main">
      <div class="container-fluid">
        {% block main %}
        <div class="row-fluid">
          <div class="content span9">
            {% block content %}{% endblock %}
          </div>
          <div class="sidebar span3">
            <div class="sidebar-inner">
              {% block sidebar %}{% endblock %}
            </div>
          </div>
        </div>
        {% endblock %}
      </div>
    </section>

  {% block foot %}{% endblock %}
  </body>
</html>
