{% extends "layout.html" %}

{% block nav_all_threads_active %} class="active"{% endblock %}

{% block content %}
  <div class="page-header">
    <h1>Search Conversations</h1>
  </div>
  <ul class="nav nav-tabs">
    <li><a href="{{ url_for('thread_list') }}">All Conversations</a></li>
    <li><a href="{{ url_for('my_threads') }}">My Activity</a></li>
    <li class="active"><a href="{{ url_for('thread_search') }}">Search</a></li>
  </ul>

  <p>Use this form to search for topics.</p>

  <form method="GET">
    <input type="text" name="q" value="{{ query or '' }}" placeholder="enter search terms" /> <input type="submit" class="btn btn-primary" value="Go">
  </form>

  {% if query %}
    {% if thread_list %}
      <ul class="thread-list">
        {% for thread in thread_list %}
          {% include "includes/thread.html" %}
        {% endfor %}
      </ul>
    {% else %}
      <div class="alert-message block-message info">
        <p>There don't seem to be any conversations matching your query.</p>
      </div>
    {% endif %}
  {% endif %}
{% endblock %}