{% extends "layout.html" %}

{% block content %}
    <div class="page-header">
        <h2>An Error Occurred</h2>
    </div>
    <p>We hit an error while trying to authenticate you with DISQUS. It's likely that this is from an expired token, or
        some similar authorization mishap. If you'd like to try again, there's a 99.934938173% chance that things will
        magically work.</p>
    <p><a href="{{ url_for('oauth_authorize') }}" class="btn btn-large btn-warning">Try Again</a></p>
{% endblock %}